.footer {
  width: 100%;
  padding: var(--space-6) var(--space-4);
  background-color: var(--color-neutral-2);
  border-top: 1px solid var(--color-neutral-6);
  text-align: center;
  margin-top: auto;
}

.text {
  margin: 0;
  font-family: var(--font-body);
  font-size: 0.875rem;
  color: var(--color-neutral-11);
  font-weight: 500;
}
